.product-specs table {
  width: 100%;
  border-collapse: collapse;
}

.product-specs td {
  padding: 14px;
  border-bottom: 1px solid #ececec;
}

.product-specs td:first-child {
  width: 220px;
  font-weight: 700;
}