.product-specs table {
  width: 100%;
  border-collapse: collapse;
}

.product-specs td {
  padding: 14px;
  border-bottom: 1px solid #e6e6e6;
}

.product-specs td:first-child {
  font-weight: 700;
  width: 220px;
}
