.product-gallery {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 24px;
  align-items: start;
}

.product-gallery-thumbs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-gallery-thumbs img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.product-gallery-main {
  width: 100%;
}

.product-gallery-main img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}
